<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="well well-sm">
              <div class="row">
                  <div class="col-sm-6 col-md-8">
                      <h4>
                          {{donor.firstname}} {{donor.lastname}}</h4>
                      <small><cite title="{{donor.number}}">{{donor.number}}<i class="glyphicon glyphicon-map-marker">
                      </i></cite></small>
                      <p>
                          <i class="glyphicon glyphicon-envelope"></i>{{donor.email}}
                          <br />
                          <i class="glyphicon glyphicon-gift"></i>{{donor.group}}
                          <br />
                          <i class="glyphicon glyphicon-gift"></i>{{donor.ip}}
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>